h1, h2, h3 {font-size: 100px;
    background-color: aquamarine;}
    p {
      font-size: 30pt;
      line-height: 2em;
      text-align: center;
      }

    #heading { color: rgb(8, 168, 16);
      font-size: 50px;}
      .green-text { color: rgb(242, 127, 13); }
      .font-sixe-large { font-size: 90px;}
      .pink-text { color: pink;}

      #btn-1 {
        text-transform: uppercase;
        background-color: blueviolet;
        color: aqua;
      }
      #btn-2 {
        text-transform: lowercase;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
      }